@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 1% 10%;
}

.logo-text {
 font-size: 24px;
 color: #f9faf8; 
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  color: #e5e7eb;
  font-size: 18px;
}

.photo {
  background-color: #1f2937;
  width: 30vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 50vw;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
}

.info {
  display: flex;
  background-color: #1f2937;
  color: white;
  padding: 5% 10%;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}
.cards {
  display: flex;
  flex-direction: column;
}
.card-heading {
 font-size: 4.5vw;
 font-weight: 900;
}
.card-text {
  font-size: 18px;
  color: #e5e7eb;
}
.signup-link {
 justify-self: start;
 align-self: start;
 background-color: #3882f6;
 border-radius: 1vw;
 font-weight: 900;
 padding: 1vw 3vw;
}
.bottom {
  border: .3vw solid white;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 5% 0%;
  justify-content: center;
  align-items: center;
}
.content-boxes {
  display: flex;
}

.content-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw 0;
}

.square-photo {
  width: 17vw;
  height: 17vw;
  border: .3vw solid black;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.square-photo-1 {
  position: relative;
  left: -3vw;
  width: 40vw;
}

.square-photo-2 {
  position: relative;
  left: 2.5vw;
  top: 2vw;
  width: 25vw;
}

.square-photo-3 {
  position: relative;
  left: -14vw;
  top: -6vw;
  height: 30vw;
}

.square-photo-4 {
  position: relative;
  left: 1vw;
  top: -3vw;
  height: 50vw;
}

.text {
  text-align: center;
}

.quote-box {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.quote-text {
  text-align: center;
  font-size: 3.5vw;
  font-style: italic;
  color: #1f2937,
}

.quote-author {
  align-self: flex-end;
  font-weight: 900;
}

.signup {
  padding: 5% 10%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  color: white;
  padding: 5%;
  border-radius: 1vw;
}

.signup-header {
  font-size: 24px;
  font-weight: 900;
}

.signup-info {
  color: #e5e7eb
}


