@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 1% 10%;
}

.logo {
  border: 1px solid white;
  border-radius: 100%;
  height: 10vw;
  width: 10vw;
  overflow: hidden;
}

.big-buck {
  position: relative;
  top: -13.5vw;
  left: -15.0vw;
  width: 350%;
  height: auto;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  color: #e5e7eb;
  font-size: 18px;
}




